In [19]:
! pip install ppscore

Collecting ppscore
  Downloading ppscore-1.2.0.tar.gz (47 kB)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ppscore) (1.2.4)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in c:\users\dell\anaconda3\lib\site-packages (from ppscore) (0.24.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.6.2)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.2.0-py2.py3-none-any.whl size=13050 sha256=06f9abd5ed06357cbddcf9744fb21f24d609433d617f2c355cbcda90ca677f7a
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\fb\0e\65\da65ce669381fc01b6ef990d301d3586991f89bff1175877a4
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.2.0

In [20]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import IsolationForest
import ppscore as pps
import warnings
warnings.filterwarnings("ignore")

# Label encoding

In [22]:
iris = pd.read_csv("iris.csv",index_col = 0)

In [15]:
iris.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
# creating a copy of data so that my original data will be unaffected

In [17]:
data1 = iris.copy()

In [19]:
labelencoder = LabelEncoder()        # Invoke the funtion and will store in some variable
data1['Species'] = labelencoder.fit_transform(data1[['Species']])    # Applying the function to get the fitted values on our data

In [12]:
data1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1              5.1           3.5            1.4           0.2        0
2              4.9           3.0            1.4           0.2        0
3              4.7           3.2            1.3           0.2        0
4              4.6           3.1            1.5           0.2        0
5              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
146            6.7           3.0            5.2           2.3        2
147            6.3           2.5            5.0           1.9        2
148            6.5           3.0            5.2           2.0        2
149            6.2           3.4            5.4           2.3        2
150            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

# One Hot Encoding

In [50]:
data2 = pd.read_csv("iris.csv",index_col = 0)

In [51]:
one = OneHotEncoder(handle_unknown = 'ignore')  # This handle_unknown is used to ignore the unknown values in our data, if we set that to ignore it will not create any label for that feature

In [52]:
enc = pd.DataFrame(one.fit_transform(data2[['Species']]).toarray())

In [53]:
enc

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [71]:
c = pd.concat([data2,enc], axis = 1)
c

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,0,1,2
0,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
1,5.1,3.5,1.4,0.2,Iris-setosa,1.0,0.0,0.0
2,4.9,3.0,1.4,0.2,Iris-setosa,1.0,0.0,0.0
3,4.7,3.2,1.3,0.2,Iris-setosa,1.0,0.0,0.0
4,4.6,3.1,1.5,0.2,Iris-setosa,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,Iris-virginica,0.0,0.0,1.0
147,6.3,2.5,5.0,1.9,Iris-virginica,0.0,0.0,1.0
148,6.5,3.0,5.2,2.0,Iris-virginica,0.0,0.0,1.0
149,6.2,3.4,5.4,2.3,Iris-virginica,0.0,0.0,1.0
150,5.9,3.0,5.1,1.8,Iris-virginica,NaN,NaN,NaN

In [72]:
# We can join these columns by using join also

In [73]:
data_final = data2.iloc[:,0:4].join(enc)

In [74]:
data_final

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    0    1    2
Id
1              5.1           3.5            1.4           0.2  1.0  0.0  0.0
2              4.9           3.0            1.4           0.2  1.0  0.0  0.0
3              4.7           3.2            1.3           0.2  1.0  0.0  0.0
4              4.6           3.1            1.5           0.2  1.0  0.0  0.0
5              5.0           3.6            1.4           0.2  1.0  0.0  0.0
..             ...           ...            ...           ...  ...  ...  ...
146            6.7           3.0            5.2           2.3  0.0  0.0  1.0
147            6.3           2.5            5.0           1.9  0.0  0.0  1.0
148            6.5           3.0            5.2           2.0  0.0  0.0  1.0
149            6.2           3.4            5.4           2.3  0.0  0.0  1.0
150            5.9           3.0            5.1           1.8  NaN  NaN  NaN

[150 rows x 7 columns]

### Creating dummy variables by using pandas

In [75]:
data3 = pd.read_csv("iris.csv",index_col = 0)

In [77]:
dummy = pd.get_dummies(data3)

In [78]:
dummy

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
Id,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,5.9,3.0,5.1,1.8,0,0,1

# Isolation Forest

In [4]:
data_iso =pd.read_csv("iris.csv",index_col = 0)

In [6]:
data_dummy = pd.get_dummies(data_iso)

In [7]:
model_iso = IsolationForest(random_state = 10, contamination = 0.01)  # Contamination is a amount of percentage which we want to consider in finding the outliers
model_iso.fit(data_dummy)

IsolationForest(contamination=0.01, random_state=10)

In [8]:
preds_iso = model_iso.predict(data_dummy)

In [9]:
preds_iso

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [10]:
# Creating a new outlier in the data

In [11]:
data_dummy.loc[150] = [20, 30, 40, 50, 0,1,0]

In [12]:
data_dummy

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
Id,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0
2,4.9,3.0,1.4,0.2,1,0,0
3,4.7,3.2,1.3,0.2,1,0,0
4,4.6,3.1,1.5,0.2,1,0,0
5,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1
147,6.3,2.5,5.0,1.9,0,0,1
148,6.5,3.0,5.2,2.0,0,0,1
149,6.2,3.4,5.4,2.3,0,0,1
150,20.0,30.0,40.0,50.0,0,1,0

In [13]:
model_iso = IsolationForest(random_state = 10, contamination = 0.01)  
model_iso.fit(data_dummy)

IsolationForest(contamination=0.01, random_state=10)

In [14]:
preds_iso = model_iso.predict(data_dummy)

In [15]:
preds_iso

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [16]:
data_dummy['scores'] = model_iso.decision_function(data_dummy)
data_dummy['anomaly'] = model_iso.predict(data_dummy.iloc[:,0:7])

In [17]:
data_dummy

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica,scores,anomaly
Id,,,,,,,,,
1,5.1,3.5,1.4,0.2,1,0,0,0.202772,1
2,4.9,3.0,1.4,0.2,1,0,0,0.181854,1
3,4.7,3.2,1.3,0.2,1,0,0,0.167473,1
4,4.6,3.1,1.5,0.2,1,0,0,0.175358,1
5,5.0,3.6,1.4,0.2,1,0,0,0.190738,1
...,...,...,...,...,...,...,...,...,...
146,6.7,3.0,5.2,2.3,0,0,1,0.161818,1
147,6.3,2.5,5.0,1.9,0,0,1,0.117831,1
148,6.5,3.0,5.2,2.0,0,0,1,0.177160,1
149,6.2,3.4,5.4,2.3,0,0,1,0.119703,1
150,20.0,30.0,40.0,50.0,0,1,0,-0.289340,-1

In [18]:
data_dummy[data_dummy['anomaly']==-1]

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica,scores,anomaly
Id,,,,,,,,,
107,4.9,2.5,4.5,1.7,0,0,1,-0.004367,-1
150,20.0,30.0,40.0,50.0,0,1,0,-0.289340,-1

From this we can infer that there are outliers present in the 107th and 150th records

# PPS (Predictive power score)

In [23]:
pps.matrix(iris)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,SepalLengthCm,SepalLengthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,SepalLengthCm,SepalWidthCm,0.000000,regression,True,mean absolute error,0.327333,0.362073,DecisionTreeRegressor()
2,SepalLengthCm,PetalLengthCm,0.550575,regression,True,mean absolute error,1.488000,0.668745,DecisionTreeRegressor()
3,SepalLengthCm,PetalWidthCm,0.431163,regression,True,mean absolute error,0.645333,0.367090,DecisionTreeRegressor()
4,SepalLengthCm,Species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
5,SepalWidthCm,SepalLengthCm,0.001902,regression,True,mean absolute error,0.684667,0.683364,DecisionTreeRegressor()
6,SepalWidthCm,SepalWidthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
7,SepalWidthCm,PetalLengthCm,0.167773,regression,True,mean absolute error,1.488000,1.238354,DecisionTreeRegressor()
8,SepalWidthCm,PetalWidthCm,0.129681,regression,True,mean absolute error,0.645333,0.561646,DecisionTreeRegressor()
9,SepalWidthCm,Species,0.179145,classification,True,weighted F1,0.353333,0.469180,DecisionTreeClassifier()
10,PetalLengthCm,SepalLengthCm,0.524480,regression,True,mean absolute error,0.684667,0.325573,DecisionTreeRegressor()
11,PetalLengthCm,SepalWidthCm,0.041298,regression,True,mean absolute error,0.327333,0.313815,DecisionTreeRegressor()
12,PetalLengthCm,PetalLengthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
13,PetalLengthCm,PetalWidthCm,0.745236,regression,True,mean absolute error,0.645333,0.164408,DecisionTreeRegressor()
14,PetalLengthCm,Species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
15,PetalWidthCm,SepalLengthCm,0.384320,regression,True,mean absolute error,0.684667,0.421535,DecisionTreeRegressor()
16,PetalWidthCm,SepalWidthCm,0.258780,regression,True,mean absolute error,0.327333,0.242626,DecisionTreeRegressor()
17,PetalWidthCm,PetalLengthCm,0.798971,regression,True,mean absolute error,1.488000,0.299131,DecisionTreeRegressor()
18,PetalWidthCm,PetalWidthCm,1.000000,predict_itself,True,None,0.000000,1.000000,None
19,PetalWidthCm,Species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
20,Species,SepalLengthCm,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
21,Species,SepalWidthCm,0.183645,regression,True,mean absolute error,0.327333,0.267220,DecisionTreeRegressor()
22,Species,PetalLengthCm,0.785451,regression,True,mean absolute error,1.488000,0.319249,DecisionTreeRegressor()
23,Species,PetalWidthCm,0.755378,regression,True,mean absolute error,0.645333,0.157863,DecisionTreeRegressor()
24,Species,Species,1.000000,predict_itself,True,None,0.000000,1.000000,None

Inferences : Here we can see that if the input is numeric and o/p is categoric then model is a decision tree classifier and if the i/p is categoric and o/p is numeric model builded is a decision tree regressor. And if the both the input and output are categoric it is predicting itself and no model is builded